<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Entries</h1>

    <% if(posts.length === 0) { %>
        <p>no entries</p>
    <% } else { %>

        <% for (let i = 0; i < posts.length; i++) { %>
            <div>
                <p>Title: <%= post.title %></p>
                <p>Content: <%= post.content %></p>
                <p>Author : <%= post.name%></p>

                <hr>
            </div>
        <% } %>
    <% } %>
</body>
</html>