<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mini-Blog</title>
          <link rel="stylesheet" href="styles.css">
          <script src="scripts/client-validation.js" defer></script>
    </head>
    <body>
        <h1>Create New Post</h1>

        <form action="/submit" method="post" id="post-form">
            <label>
                Name: 
                <input type="text" name="name" id="name">
                <span class="err" id="err-name">Please input a name, and don't use numbers</span>
            </label>
            <label>
                Post Title:
                <input name="title" id="title">
                <span class="err" id="err-title">Please input a title</span>
            </label>
            <label>
                Post: 
                <textarea name="content" id="message"></textarea>
                <span class="err" id="err-message">Please input more than at least 10 characters</span>
            </label>
            <button type="submit">Submit!</button>
        </form>

        
    </body>
</html>